.user-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin-bottom: 1em;
}

.user-content {
  border: 1px solid;
  border-radius: 1em;
  padding: 10px;
}

.user-list-item {
  text-align: center;
}

.user-list-item img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-list-item a {
  text-decoration: none;
}

.user-list-item a:hover {
  color: #007bff;
}


@media (max-width: 768px) { 
  .user-list {
    grid-template-columns: repeat(2, 1fr); 
  }
}
